# Output Directory
bin/
target/
tmp/


# Java
*.class

# Java Package Files
*.jar
*.war
*.ear

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml

# SVN metadata
.svn/

# vi swap
*.swp

# logs
*.log
logs/

# Zip Files
*.rar
*.zip
*.7z
*.tar
*.gz
